@import "../../styles/commun.scss";

.containerHeader{
height:71px;
background:black;
display:flex;
justify-content:space-between;
align-items:center;
padding-top:20px;
}
.logoSportSee{
    width:176px;
    margin-left:29px;
}