@import "../../styles/commun.scss";
.containerNavBarLeft{
    background-color: black;
    width:117px;
    height:1024px;
    display:flex;
    flex-direction: column;
   justify-content:space-around;
   align-items: center;
}
.textNavBarLeft{
   // outline: 2px solid yellow; 
    color: white;
    writing-mode: vertical-lr;
  text-orientation: use-glyph-orientation;
  transform: rotate(180deg);
  display: inline-block;
  
}