@import "../../styles/commun.scss";

.containerGraphUser{
  display:flex;
  flex-wrap: wrap;
  }

.containerProfil {
  //  outline: 1px solid green;
  position: absolute;
  margin-left: 225px;
  top: 159px;
}

.titleProfil {
  // outline: 1px solid rgb(167, 167, 21);
  font-size: 48px;
  font-weight: 500;
  display: flex;
}
.nameProfil {
  color: red;
}
.txtProfil{
    margin-top:41px;
    margin-bottom:77px;
}
.containerLittleGraphs{
  display: flex;
  justify-content:space-between;
  margin-top:30px;
}
.layoutLittlelGraph{
  width: 258px;
  height:263px;
  border-radius: 5px;
}
.averageSession{
  background-color:#FF0000
}
.intensity{
  background-color:#282D30;
}
.score{
  background-color: #FBFBFB;
}
.containerBodyMass{
  outline: 2px solid green;
}
@media #{$medium-down} {
  .containerProfil {
  margin-left: 145px;
  }
}