$colorRed: #E60000;
$colorGreylight:#FBFBFB;
$colorGrey: #282D30;
$colorWhite: white;
$colorBlack: black;

$fontSizeContainerLittleGraph: 12px;
$fontSizeContainerMaxGraph: 15px;
$fontSizeTitleProfil:48px;
$widthIconeNavBarLeft:64px;
$heightIconeNavBarLeft:64px;

$widthgraph:835px;
$widthgraphMobile:600px;
$marginLeftProfilGraph:109px;
$marginLeftProfilGraphMobile: 30px;
$widthBodyMass:258px;