@import "../../styles/commun.scss";
.containerIcones{
   // outline: 2px solid yellow ;
   display: flex;
   justify-content:center;
   
}
.layoutIcone nav{
  //  outline: 2px solid green;
    background-color:white;
    width:64px;
    height:64px;
    border-radius: 6px;
    display: flex;
    align-items:center;
    justify-content:center;
    margin-bottom:20px;
}